/* Global Styles */
body {
    background: #03BE64;
    margin: 0;
    padding: 0;
    position: relative;
}

.logo {
    max-width: 500px;
    margin-left: 10%;
    margin-top: 10px;
}

.titulo {
    margin-bottom: 25px;
}

.container {
    gap: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 142px;
    flex-wrap: wrap;
}

.firstTitleHome {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    line-height: 0.1;
}

.secondTitleHome {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    line-height: 0.1;
}

.legendaHome {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.buttonContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px; /* funciona agora! */
}

.bCadastrar {
    padding: 10px 20px;
    background-color: #03BE64;
    border-radius: 15px;
    border: 2px white solid;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 70%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bEntrar {
    padding: 10px 20px;
    background-color: white;
    border-radius: 15px;
    color: #03BE64;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 70%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.imgPrincipal img {
    max-width: 200px;
    width: 100%;
    height: auto;
    margin-left: 20px;
}
